body{
    margin: 0;
    padding: 0;
    background-color:#c44242af ;
}
h1{
    text-align: center;
}
p{
    font-family: "Comic Sans MS";
    font-size: 16px;
    line-height: 1.3em;
    margin-top: 0.1em;
    text-align: justify;
}

.conteiner{
    color: hsl(205, 75%, 37%);
    padding: 10px;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 3em;
    width: 100%;
    left: 80%;
}

.img{
    width: 200px;
}
.left{
    float: left;
}
.right{
    float: right;
}

.img-container li{
    display: inline-block;
    width: 32%;
    padding: 10px;
}
.img-container{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.img-container img{
    width: 80%;
    display: inline-block;
    transition: .25s;
}
.img-container ul li{
    list-style-type: none;
}

.inline-img{
    width: 250px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
}

.inline-img img{
    height: 300px;
}